<div style="float:left; width:150px; height:150px; margin: 0 auto; text-align: center">
    <img src="{{app_cover}}" width="100" /><br />
    {{app_title}}<br />
    <input type="checkbox" name="id[]" value="{{id}}" />
</div>