<article class="module width_full">
<div style="width:97%;margin:0 auto;">

    <div class="menu">
        <a class="btn btn-primary check_all" data-model="privilege" style="color: white;"><i class="icon-ok icon-white"></i> 全選列表</a>
        <a class="btn btn-primary" data-model="privilege" href="#!/privilege/add" style="color: white;"><i class="icon-edit icon-white"></i> 新增權限</a>
        <a class="btn btn-danger delete_all" data-form="#privilege_list_form" data-model="privilege" style="color: white;"><i class="icon-trash icon-white"></i> 刪除權限</a>
    </div>
    <form action="#" method="post" id="privilege_list_form">
    <table id="privilege_list" class="table table-striped table-bordered table-condensed tablesorter">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>權限規則</th>
                <th>method</th>
                <th>權限說明</th>
                {{#all_group}}
                <th>{{description}}</th>
                {{/all_group}}
                <th>動作</th>
            </tr>
        </thead>
        <tbody>
            {{&html}}
        </tbody>
    </table>
    </form>
</div>
</article>
