<article class="module width_full">
<div style="width:97%;margin:0 auto;">
    <div class="menu">
        <a class="btn btn-primary" data-model="clipnote_user" href="#!/websync/list" style="color: white;"><i class="icon-edit icon-white"></i> 檢視 WebSync 帳號列表</a>
    </div>
    <form action="#" method="post" class="well" id="websync_user_add_form">
        <div class="control-group">
            <label>登入帳號</label>
            <input type="text" name="websync_id" class="span3" placeholder="Please enter WebSync ID" value="{{websync_id}}" />
            <span class="help-inline"></span>
        </div>
        <div class="control-group">
            <label>{{^is_edit}}登入密碼{{/is_edit}}{{#is_edit}}修改密碼{{/is_edit}}</label>
            <input type="password" name="password" class="span3" placeholder="Please enter WebSync Password">
            <p class="help-block">{{#is_edit}}不需要修改密碼，請留空白{{/is_edit}}</p>
        </div>
        <div class="control-group">
            <label>確認密碼</label>
            <input type="password" name="confirm_password" class="span3" placeholder="Confirm Password">
            <span class="help-inline"></span>
        </div>
        <p class="help-block">*上面欄位務必填寫.</p>
        {{#is_edit}}
            <input type="hidden" name="id" value="{{id}}">
        {{/is_edit}}
        <button type="button" data-model="websync_user" class="btn btn-primary {{^is_edit}}add{{/is_edit}}{{#is_edit}}edit{{/is_edit}}">{{^is_edit}}建立帳號{{/is_edit}}{{#is_edit}}編輯帳號{{/is_edit}}</button>
        <button class="btn" type="reset">{{^is_edit}}重新填寫{{/is_edit}}{{#is_edit}}取消編輯{{/is_edit}}</button>
    </form>
</div>
</article>
